// Define variables for your color scheme

// For example:
$snowwhite: #f5f5f5;
$orange: #CA4830;
$gray: #696969;
$light-gray: #D2D2D2;
$light-blue: #41BBD9;
$purple: #5E239D;
$white: white;
$devise-button: #487dba;
$border: #ccc;



//Bootstrap

$blue:#41BBD9;
$red: #EE5F5B;
$yellow: #FDB631;
$green: #32B796;

//original blue #469AE0
