.base-container {
    margin: 0 auto;
  }

@media (min-width: 800px) {
  .base-container {
    max-width: 1140px;
    min-height: calc(100vh - 170px)
  }

}
@media (max-width: 800px) {
  .base-container {
    max-width: 600px;
    min-height: calc(100vh - 170px)
  }
  img {
    display: none;
  }

}

.small-base-container{
 height: 62vh;
 min-height: calc(62vh - 170px);
}

#small-base-container{
 height: 62vh;
 min-height: calc(62vh - 170px);
}

.base-container--bookings {
  //Change value later
  max-width: 1140px;
  // change value later
  padding-right: 20%;
  height: 100vh;

}

.height-70vh {
  height: 70vh;
}

