.sun {

}

.cloud {

}

.question-mark {

}

.one-person {
  background-color: $orange;
}

.two-persons {
  background-color: $blue;
}

.three-persons {
  background-color: $purple;
}

.many-persons {
  background-color: $gray;
}
