.sun {
   background-image:image-url("sun.svg");
   -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.cloud {
  background-image:image-url("sun_clouds.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.question-mark {
  background-image:image-url("question-mark.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.one-person {
  background-image:image-url("traveler-with-a-suitcase.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.two-persons {
  background-image:image-url("traveler-with-a-suitcase.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.three-persons {
  background-image:image-url("traveler-with-a-suitcase.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

.many-persons {
  background-image:image-url("users-group.svg");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
