.sun {
   background-color: yellow;
}

.cloud {
  background-color: dodgerblue;
}

.question-mark {
  background-color: seagreen;
}

.one-person {
  background-color: $orange;
}

.two-persons {
  background-color: $blue;
}

.three-persons {
  background-color: $purple;
}

.many-persons {
  background-color: $gray;
}
