$max-width: 100vw;

.confirmation {

  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

* {
  box-sizing: border-box;
}


html {
  height: 100%;
  width:100%;
}


  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #333;
min-height: 100vh;
min-width: 100vw;

.kitty {

  color: slate;
  text-align: center;
  display: flex;
  align-items: center;
  color: hsl(157, 65%, 80%);
  height: 100vh;
}

.kitty h1 {
  text-shadow: 1px 1px 0 hsl(12, 81%, 59%), 2px 2px 0 hsl(12, 81%, 59%), 3px 3px 0 hsl(12, 81%, 59%), 4px 4px 0 hsl(12, 81%, 59%), 5px 5px 0 hsl(12, 81%, 59%), 6px 6px 0 hsl(12, 81%, 59%), 7px 7px 0 hsl(12, 81%, 59%);
  text-transform: uppercase;
}

.text-container {
  padding-right:0;
  padding-left: 0;
  min-width: $max-width;
  height: 100vh;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.half {
  width: 50%;
  height: 100vh;
  background: hsl(44, 49%, 79%);
  float: left;
  overflow: hidden;
  transition: transform 1.5s ease;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 14vmin;
  width: 100%;
  font-weight: 900;
}

.left h1 {
  transform: translateX(50%);
}

.right h1 {
  transform: translateX(-50%);
  position: relative;
}

.right h1::after {
  content: '';
  position: absolute;
  width: 2.5vmin;
  height: 2.5vmin;
  bottom: 3.8vmin;
  margin-left: 2px;
  background: hsl(12, 81%, 59%);
  border-radius: 50%;
}

.split-left {
  background: hsl(160, 64%, 51%);
  transform: translateX(-50vw);
}

.split-right {
  background: hsl(160, 64%, 51%);
  transform: translateX(50vw);
}

.btn {
  position: absolute;
  display: block;
  bottom: 8vh;
  left: 50%;
  z-index: 2;
  height: 3rem;
  width: 3rem;
  background: transparent;
  border: 4px solid;
  color: hsl(12, 81%, 59%);
  font-size: 2rem;
  line-height: 1.75rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.btn:focus,
.btn:hover {
  background: hsl(12, 81%, 59%);
  color: white;
  cursor: pointer;
}

.scale-down {
  opacity: 0;
}

@keyframes scale-up-down {
  60% {
    transform: scale(1.3)
  }
}

.scream {
  animation: scale-up-down 1s 3 alternate;
  animation-delay: 1.5s;
}

@media only screen and (max-device-width: 800px) and (orientation: landscape) {
  .btn {
    bottom: 4vh;
    height: 2.5rem;
    width: 2.5rem;
    font-weight: bold;
  }
}

}
