// Specific CSS for your home-page
.loading-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  top: 0;
  color: white;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-around;
  position: relative;
  background-image: image-url("gradient-background.png");

    h1 {
      font-size: 90px;
      font-weight: 900;
    }
}



.hiw{

  h2 {
    font-weight: 800;
    font-size: 70px;
    margin-bottom:0;
    margin-top: 15vh;
    padding-left: 7%;
    padding-right: 7%;
  }

  h3 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    padding-left: 7%;
    padding-right: 7%;
  }

  h1 {
    font-size: 42px;
  }


  #hiw-destination-unknown {
    background-image: image-url("destination_unknown_hiw_cockpit.jpg");
    height: 270px;
    width: 350px;
    background-size: cover;
  }

  #hiw-trip {
    background-image: image-url("hiw_enjoy_trip_couple_city.jpg");
    height: 270px;
    width: 350px;
    background-size: cover;
  }

  #hiw-relax {
    background-image: image-url("hiw_relax_we_book.jpg");
    height: 270px;
    width: 350px;
    background-size: cover;
  }
}

.testimonials{
  h2 {
    font-weight: 800;
    font-size: 70px;
    margin-bottom:0;
    margin-top: 15vh;
  }

  h3 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
  }

}

  .point-orange {
    color: $orange;
    font-weight: 900;
  }
