<div class="banner banner-landing-page">
  <div class="banner-text">

    <div class="banner-input-field-outside">
     <h2><span class="banner-input-field" contenteditable="true" id="banner-name-input-visible"></span></h2>
    </div>
    <h2 class="banner-input-field--same-line-text">is looking for a</h2>
    <h1>3 Day Surprise Trip</h1>
    <h2 class="make-inline">from</h2>
    <div class="banner-input-field-outside">
     <h2><span class="banner-input-field" contenteditable="true" id="banner-city-input-visible" style="margin-left: 20px;">Your city</span></h2>
    </div>

    <!-- <div class="banner-input-field-outside">
      <h2><span class="banner-input-field banner-input-field--same-line-text" contenteditable="true" id="banner-city-input-visible">Your City</span></h2>
    </div> -->
<form action="bookings/new">
  <input name="name" type="hidden" class="make-invisible" id="banner-name-input-hidden">
  <input type="hidden" name="city" class="make-invisible" id="banner-city-input-hidden">
  <div class="banner-submit-button-wrapper" >
    <input type="submit" class="btn btn-primary button-banner button-lp-positon" id="banner-surprise-me-button" value="Surprise me!">
  </div>
</form>
</div>
  </div>

