<div class="banner banner-landing-page">

  <div class="banner-text">
    <h2><span class="banner-input-field">Your name</span> is looking for a</h2>
    <h1>3 Day Surprise Trip</h1>
    <h2>from</h2>
    <h2><span class="banner-input-field">your city</span></h2>
  </div>

</div>
