<div class="banner-booking">
  <div class="image-booking2">
    <div class="banner-content-booking">
      <span style="font-size: 71px;">Hey <%= @booking.travellers.first.first_name %>,</span>
      <br>
      <span>only 2 minutes more to book your surprise trip!</span>
    </div>
  </div>
</div>
