<div class="banner-booking">
  <div class="image-booking1">
    <div class="banner-content-booking">
      <span style="font-size: 71px;">Hey <%=
       params["name"]%>,</span>
      <br>
      <span>only 5 minutes to book your surprise trip!</span>
    </div>
  </div>
</div>
