<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>5</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Budget</h2>
      </div>

      <div class="content-container">

        <div class="slidecontainer padding-right-10 padding-left-10 form-grouped">
          <label class="slider-output" for="max-price">Budget per person: 300</label>
          <input name="max-price" type="range" min="150" max="1000" value="300" class="slider" id="myRange">
        </div>


      </div>

      <button class="button-form button-form--next index-number-booking-new"> Next </button>

    </div>
  </div>
</div>
