<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>4</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Preferences</h2>
      </div>

      <div class="content-container grid-preferences">
        <div class="grid-preferences-left">
          <div class="image-container-people-counter">
          </div>
        </div>


        <div class="grid-heading-preferences-first-right">
          <span>Your suprise trip will be in a</span>
        </div>

        <div class="grid-heading-preferences-radio-right">
          <div class="radio-container">
            <div class="type-container">
              <div class="radio-trip-type-group">
                <div  class="input-container radio-button-preferences">
                  <input type="radio" name="booking[climate]" class="radio-button" value="1">
                    <div class="radio-title">
                      <label for="departure_time" class="radio-title-label">Warm</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="type-container">
              <div class="radio-trip-type-group">
                <div  class="input-container radio-button-preferences">
                  <input type="radio" name="booking[climate]" class="radio-button" value="1">
                    <div class="radio-title">
                      <label for="departure_time" class="radio-title-label">Cold</label>
                    </div>
                </div>
              </div>
            </div>
            <div class="type-container">
              <div class="radio-trip-type-group">
                <div  class="input-container radio-button-preferences">
                  <input type="radio" name="booking[climate]" class="radio-button" value="1">
                    <div class="radio-title">
                      <label for="departure_time" class="radio-title-label">Surprise Me!</label>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-heading-preferences-second-right">
          <span>Country.</span>
        </div>

        <div class="grid-heading-preferences-last-right">
          <span>Frequent traveller?</span>

          <div class="popup-container">
            <div class="box">
              <a class="button" href="#popup1">Let me Pop up</a>
            </div>

            <div id="popup1" class="overlay">
              <div class="popup">
                <span class="center-heading">Which countries do you wish to exclude?</span>
                <a class="close" href="#">&times;</a>
                <div class="content">
                  <div class="radio-container">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="type-container">
                          <div class="radio-trip-type-group">
                            <div  class="input-container radio-button-countries">
                              <input type="radio" name="booking[climate]" class="radio-button" value="1">
                                <div class="radio-title">
                                  <label for="departure_time" class="radio-title-label">Warm</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <button class="button-form button-form--next index-number-booking-new"> Next </button>

    </div>
  </div>
</div>
