<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>2</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Origin</h2>
      </div>

      <div class="content-container">
        <%= b.text_field :origin %>
      </div>

      <button class="button-form button-form--next index-number-booking-new"> Next </button>

    </div>
  </div>
</div>
