<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>3</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Travellers</h2>
      </div>

      <div class="content-container">
         <input type="number" min="1" max="6" id="number_traveller" value="1" name="booking[number_traveller]">
      </div>

      <button class="button-form button-form--next index-number-booking-new"> Next </button>

    </div>
  </div>
</div>


