<div class="confirmation">
  <section class="kitty">
    <h1 id="omg" class="text-center">Your trip to DESTINATION UNKNOWN is booked!</h1>
  </section>
  <div class="text-container">
    <section id="left" class="half left">
      <h1>I've got a surprise for you</h1>
    </section>
    <section id="right" class="half right">
      <h1>I've got a surprise for you</h1>
    </section>
    <button class="btn" id="btn">+</button>
  </div>
</div>
