<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>

<p>exactly the same page as the new booking</p>

 <p>this updates and adds the user to to the booking</p>
 <%= link_to "Review your input", booking_path(@booking), method: :patch, class: "btn btn-primary btn-lg" %>


  <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>
