<h1>Booking new</h1>
<p>here are all the forms</p>

<p>by pressing the button below we create the booking and redirect to the booking_show page where the status is unconfirmed</p>

 <%= link_to "Review your input", bookings_path(@booking), method: :post, class: "btn btn-primary btn-lg" %>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>


