<h1>Show page of a booking</h1>

<p>this later has two different show pages depending on the status of the booking</p>

  <%= link_to "Edit input", edit_booking_path(@booking), class: "btn btn-primary btn-lg" %>

  <%= link_to "Back to Home", root_path, class: "btn btn-primary btn-lg" %>
