<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/werner-sven/trvlscape"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/travelandleisure/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/travelandleisure/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/travelleisure"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/travel-leisure/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <%= image_tag("paper-plane.png", size:"50x50", :alt => "footer") %> TRVLSCAPE
  </div>
</div>
