<div class="hiw">
  <h2>TRVLSCAPE<span class="hiw-orange">.</span></h2>
  <h3>Because Life is either a daring adventure or nothing at all</h3>

  <div class="card-how-to--left">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-destination-unknown-number">1
          <div class="card-image" id="hiw-destination-unknown">
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1>Trip to Destination Unknown  </h1>
            <p>Book a 3 day trip to a destination unknown. Take 5 minutes to tell us about your travel mates your preferences and your budget.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

