<div class="hiw">
  <h2>TRVLSCAPE<span class="hiw-orange">.</span></h2>
  <h3>Because Life is either a daring adventure or nothing at all</h3>

  <div class="card-how-to--left">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="index-number" id="hiw-destination-unknown-number">1
          <div class="card-image" id="hiw-destination-unknown">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

