<div class="hiw">
  <h2>TRVLSCAPE<span class="point-orange">.</span></h2>
  <h3>Because Life is either a daring adventure or nothing at all</h3>

  <div class="card-how-to--left-top">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-destination-unknown-number">
          <h5>1</h5>
          <div class="card-image" id="hiw-destination-unknown">
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1>Engineer the Unknown </h1>
            <p>Book a 3 day trip to a destination unknown. Take 4 minutes to tell us about your preferences and your budget and we tailor your surprise trip.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="card-how-to--right">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1 class="text-right">Relax - Embrace the Unpredictable</h1>
            <p class="text-right">Our algorithm picks a trip based on your few input preferences and surprises you. Going to a relaxing beach, living in an iglo in Greenland or sleeping in a hammock in the Jungle. Everything is possible and you don have to lift a finger.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-relax-number">
          <div class="card-image" id="hiw-relax">
          </div>
          <h5>2</h5>
        </div>
      </div>
    </div>
  </div>


<div class="card-how-to--left-bottom">
    <div class="row">
      <div class="col-sm-5 col-xs-12">
        <div class="index-number" id="hiw-trip-number">
          <h5>3</h5>
          <div class="card-image" id="hiw-trip">
          </div>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12">
        <div class="card-text">
          <div>
            <h1>Start your Surprise Trip</h1>
            <p>Experience your vacation in the thrill of the unknown. 5 Days before your trip we will send you a wheather report. 3 Days before some hints on what to pack. Only of the day of your flight you will be told the destination.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

