

<div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="card" >
         <div class="card-testimonial card-testimonial--yellow" style="background-image: url(<%= image_path('london_instagram_photo.jpg') %>)">
          <div class="card-description"
            data-hover="It's a soundscape city filled with record shops and music venues in which you can live/relive the music it's inspired down the years.">
           <h1> LONDON </h1>
          </div>
        </div>
       </div>

    </div>

      <!-- insert <div class="card"> -->
    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial--red" style="background-image: url(<%= image_path('BALİ.jpg') %>)">
        <div class="card-description"
        data-hover="sbkjahdalwsjdwaosjdıoajdwajdawdjawojl">
         <h1> BALİ </h1>

        </div>
       </div>
      </div>

    </div>

      <!-- insert <div class="card"> -->

    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial--blue" style="background-image: url(<%= image_path('BUDAPES.jpg') %>)">
       <div class="card-description"
        data-hover="Budapest is an easy city to define culture in as they are completely dedicated to the arts.">
        <h1> BUDAPEST </h1>

       </div>
      </div>
     </div>

    </div>

</div>



