<div class="testimonials">

  <h2>TESTIMONIALS<span class="point-orange">.</span></h2>
  <h3>These People had a blast</h3>


  <div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="card" >
         <div class="card-testimonial card-testimonial"
         style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%), url(<%= image_path('london_instagram_photo.jpg') %>)">
          <div class="card-description--yellow"
            data-hover="It's a soundscape city filled with record shops and music venues in which you can live/relive the music it's inspired down the years.">
            <p> LONDON </p>
          </div>
        </div>
       </div>

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%),  url(<%= image_path('BALİ.jpg') %>)">
        <div class="card-description--blue"
          data-hover="Bali is an easy city to define culture in as they are completely dedicated to the arts.">
          <p> BALI </p>
         </div>
       </div>
      </div>

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%),  url(<%= image_path('BUDAPES.jpg') %>)">
       <div class="card-description--red"
        data-hover="Budapest is an easy city to define culture in as they are completely dedicated to the arts.">
        <p> BUDAPEST </p>

       </div>
      </div>
     </div>

    </div>

  </div>
 </div>
</div>












