<div class="testimonials">

  <h2>TESTIMONIALS<span class="point-orange">.</span></h2>
  <h3>These people had a blast</h3>


  <div class="row">

    <div class="col-xs-12 col-sm-4">
        <div class="card" >
         <div class="card-testimonial card-testimonial"
         style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%), url(<%= image_path('testemonials_Koblenz.jpg') %>)">
          <div class="card-description--yellow"
            data-hover="'Before the trip I never heard of Koblenz. However it was overwhelming: A beautiful city and landscape at the river Rhine!' - Piotr">
            <p> KOBLENZ </p>
          </div>
        </div>
       </div>

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%),  url(<%= image_path('testemonials_Reykjavik.jpg') %>)">
        <div class="card-description--blue"
          data-hover="'Iceland had been on my list for a long time! TrvlScape finally got me there. Send nudes ;-) ' - Charly">
          <p> REYKJAVIK </p>
         </div>
       </div>
      </div>

    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" >
       <div class="card-testimonial card-testimonial" style="background-image:linear-gradient(-225deg, rgba(30,30,30,0.4) 0%, rgba(30,30,30,0.1) 50%),  url(<%= image_path('testemonials_Cappadocia.jpg') %>)">
       <div class="card-description--red"
        data-hover="'I choose the adventure trip: Seeing the beautiful sunrise and the ballons after an amazing hike were astonishing!'- Willy  ">
        <p> CAPPADOCIA </p>

       </div>
      </div>
     </div>

    </div>

  </div>
 </div>
</div>












