<%= render "shared/banners/banner_landing_page" %>

<div class="base-container">

  <%= link_to "Surprise me", new_booking_path, class: "btn btn-primary btn-lg" %>
  <%= render "shared/testimonials" %>
</div>
