<div class="loading-overlay">
  <h1 class="text-center">Book a 3-day surprise trip.</h1>
</div>

<%= render "shared/banners/banner_landing_page" %>

<div class="base-container">
  <%= render "shared/how_it_works" %>
  <%= render "shared/testimonials" %>
</div>
