<div class="grid-content-right-third">
  <div class="container-summary-content">
   <div class="style-heading"> <span> Payment</span> </div>
    <div class="style-body">
      <span id="traveller_info"=>Budget per Person: </span> <span id="user_info"=> <%= booking.budget_pp  %>€ </span><br>
      <span id="traveller_info"=>Number of Travellers: </span> <span id="user_info"=> <%= booking.number_traveller %></span><br>
      <div class="style-amount">
      <span> TOTAL AMOUNT: <%= humanized_money_with_symbol(booking.price) %> </span><br>
      </div>
    </div>

  </div>
</div>

