<div class="grid-content-right-third">
  <div class="container-summary-content">
   <div class="style-heading"> <span> Payment</> </div>
    <div class="style-body">
      <span>Budget per Person: <%= booking.budget_pp  %>€ </span><br>
      <span>Number of Travellers: <%= booking.number_traveller %></span><br>
      <span>Amount: <%= humanized_money_with_symbol(booking.price) %> </span><br>
    </div>

  </div>
</div>
</div>
