.booking-step6-personal{
    display: flex;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    margin-left: 5%;
}

.booking-step6-personal-img{
    //   /* display: flex; */
    // width: 50%;
    // height: 100%;
    // /* justify-content: center; */
    // background-color: blue;

}

.booking-step6-personal-details{


}

.booking-step6-personal-header{
    display: flex;
    /* align-items: center; */
    justify-content: center;

    h3{
      margin-top: 1%;
    }

}

.booking-step6-personal-form{
  display: flex;
  justify-content:center;

  input{
    margin: 0 0 2% 0;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }

  label{
    font-weight: 500;
    margin-top: 5%;
    width: 100%;
  }

  #title{
    width: 15%;
  }

  #first_name{
    margin-left: 3%;
    width: 79.5%;
  }
}

.booking-step6-personal-form-leftcol{
  width: 40%;
  margin: 0 3% 0 7%;
}

.booking-step6-personal-form-rightcol{
  width: 40%;
  margin: 0 7% 0 3%;
}

// bootstrap carousell

.carousel-indicators{
  bottom: -25%;

  li{
    border-color: #b8b8b8;
  }

  .active{
    background-color: #b8b8b8;
  }
}

.carousel-control {
  color: lightgrey;
  border-color: #b8b8b8;
  opacity: 0.8;
}

.carousel-control:hover{
  opacity: 1;
}

.carousel-control:focus {
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    width: 7%;
}

.carousel-control .glyphicon-chevron-right  {
  right: 25%;
}

.carousel-control .glyphicon-chevron-left {
  left: 25%;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.inline{
  display: flex;
}
