.banner{
  color: white;
  background-size: cover !important;

  h1 {

  }
}

.banner-landing-page {
  height: 100vh;

  h1 {

  }

  h2 {

  }

  .banner-input-field {

  }
}

.banner-booking-form {

}

.banner-booking-status {

}

.banner-booking-summary {

}
