.banner{
  color: white;
  background-size: cover !important;
  position: relative;
  z-index: 1;

  h1 {

  }
}

.banner-landing-page {
  height: 100vh;
  background-image: image-url("Banner_backpack_orange.jpg");

  .banner-text {
    position: absolute;
    top: 45%;
    left: 5%;
  }

  h1 {
    font-weight: 900;
    font-size: 95px;
    margin-top: 5px;
    margin-bottom: 0;

  }

  h2 {
    font-weight: 900;
    font-size: 70px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .banner-input-field-outside {
    margin-top: 20px;
    min-width: 100px;
    max-width: 400px;
    display: inline-block;
  }

  .banner-input-field {
   position: relative;
   padding: 5px 10px;
   z-index: 9;
   margin: 0 -10px;

    &:focus {
      outline: none;
    }

    &:before {
    content: "";
    position: absolute;
    min-width: 80px;
    width: 102%;
    left: 0px;
    bottom: 18px;
    z-index: -1;
    height: 25px;
    background-color: $orange;
    }
  }

  .banner-input-field--same-line-text {
    display: inline-block;
    margin-left: 25px;
  }

  .make-inline {
    display: inline-block;
  }

  .banner-submit-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-left: -5%;
  }

  .button-lp-positon {
    position: absolute;
    top: 115%;
  }
}

//Other Banners

.banner-booking-form {

}

.banner-booking-status {

}

.banner-booking-summary {

}
