.banner {
  color: white;
  background-size: cover !important;
  position: relative;
  background-position: center;
  z-index: 1;
}

  .banner-landing-page {
    height: 100vh;
    background-image: image-url("Banner_backpack_orange.jpg");

    h1 {
      font-weight: 900;
      font-size: 95px;
      margin-top: 5px;
      margin-bottom: 0;
      color: white;

      @media screen and (max-width: 1200px) {
        font-size: 80px;
      }

      @media screen and (max-width: 991px) {
        font-size: 70px;
      }

      @media screen and (max-width: 767px) {
        font-size: 50px;
      }
    }

    h2 {
      font-weight: 900;
      font-size: 70px;
      margin-top: 5px;
      margin-bottom: 0;
      color: white;

      @media screen and (max-width: 1200px) {
        font-size: 55px;
      }

      @media screen and (max-width: 991px) {
        font-size: 40px;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }

    }
  }

  .banner-text {
    position: absolute;
    top: 45vh;
    padding-left: 5%;
    width: 100%;
  }


  .banner-input-field-outside {
    margin-top: 20px;
    min-width: 100px;
    max-width: 400px;
    display: inline-block;
  }

  .banner-input-field {
   position: relative;
   padding: 5px 10px;
   z-index: 9;
   margin: 0 -10px;

    &:focus {
      outline: none;
    }

    &:before {
    content: "";
    position: absolute;
    min-width: 80px;
    width: 102%;
    left: 0px;
    bottom: 18px;
    z-index: -1;
    height: 25px;
    background-color: $orange;
    }
  }

  .banner-input-field--same-line-text {
    display: inline-block;
    margin-left: 25px;
  }

  .make-inline {
    display: inline-block;
  }

  .banner-submit-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-left: -5%;
  }

  .button-lp-positon {
    position: absolute;
    top: 115%;
  }


// Other Banners


.banner-booking {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 50px;
    font-weight: 700;
    color: white;
  }
  .image-booking {
    height: 100%;
    width: 100%;
    background-image: image-url("banner_small.jpg");
    background-size: cover !important;
    background-position: center;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}



// .banner {
//   h1 {
//   font-size: 50px;
//   font-weight: bold;
//   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
//   }
// }
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


//

.banner-booking-status {

}

.banner-booking-summary {

}
