.summary-container {
  min-height: 140vh;
  width: 100vw;
  // background-color: pink;

  .summary-container--grid {
    display: grid;
    grid-template-columns: 50% 15% 35%;
    grid-template-rows: 15% 25% 25% 25% 10%;
    min-height: 140vh;
    width: 100vw;
  }

  .grid-summary-general-heading {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 60px;
      font-weight: 700;
      color: black;
    }


  }

  .grid-image-left {
    grid-row: 1 / span 5;
    grid-column: 1 / span 2;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: blue;
    background-image: image-url("street.jpg");
    background-size: cover !important;
    height: 100%;
    width: 100%;
  }

  .image-summary-booking {
    background-image: image-url("street.jpg");
    background-size: cover !important;
    border-radius: 3px;
    margin-right:100px;
  }

  .grid-content-right-first {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    // background-color: blue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

    .container-summary-content{
      background-color: white;
      padding: 2% 2%;
      height: 100%;
      width: 100%;

      .style-heading{

        span {
          font-size: 30px;
          font-weight: 500;
          color: black;
          font-weight:bolder;
        }

      }

      .style-body{

        span{
          font-size:18px;
          font-weight: 500;
          color: $gray;
        }

        .style-body-booking{

          span{
            font-size:18px;
            font-weight: 500;
            color: $light-gray;
          }
        }
      }
    }
  }


    .grid-content-right-second {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2;
      // background-color: blue;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;

      .container-summary-content{
      background-color: white;
      padding: 2% 2%;
      height: 100%;
      width: 100%;

      .style-heading{

        span {
          font-size: 30px;
          font-weight: 500;
          color: black;
          font-weight:bolder;
        }

      }

      .style-body{

        span{
          font-size:18px;
          font-weight: 500;
          color: $gray;
        }

        .style-body-booking{

          span{
            font-size:18px;
            font-weight: 500;
            color: $light-gray;
          }
        }
      }
    }
  }

    .grid-content-right-third {
      grid-row: 4 / span 1;
      grid-column: 2 / span 2;
      // background-color: blue;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;

      .container-summary-content{
      background-color: white;
      padding: 2% 2%;
      height: 100%;
      width: 100%;

      .style-heading{

        span {
          font-size: 30px;
          font-weight: 500;
          color: black;
          font-weight:bolder;
        }

      }

      .style-body{

        span{
          font-size:18px;
          font-weight: 500;
          color: $gray;
        }

        .style-body-booking{

          span{
            font-size:18px;
            font-weight: 500;
            color: $light-gray;
          }
        }
      }
    }
  }

    .grid-submit-button {
      grid-row: 5 / span 1;
      grid-column: 1 / span 3;
      // background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }


  .dropdown {
    position: relative;
    font-weight:bold;
    display: inline-block;
  }
  .dropdown-content{

    display:block;
    position:absolute;
    background-color: white;
    min-width:180px;
    z-index: 1;
  }
  .dropdown-hover .dropdown-content{
    display: block;
  }
  .dropdown-content a{
    font-size:15px;
  }



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}













