.summary-container {
  height: 100vh;
  width: 100vw;
  // background-color: pink;

  .summary-container--grid {
    display: grid;
    grid-template-columns: 50% 15% 35%;
    grid-template-rows: 15% 25% 25% 25% 10%;
    height: 100vh;
    width: 100vw;
  }

    .grid-summary-general-heading {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 40px;
        font-weight: 700;
      }

    }

    .grid-image-left {
      grid-row: 1 / span 5;
      grid-column: 1 / span 2;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // background-color: blue;
      background-image: image-url("people_group.jpg");
      background-size: cover !important;
      height: 100%;
      width: 100%;
    }

      .image-summary-booking {
        background-image: image-url("people_group.jpg");
        background-size: cover !important;
        border-radius: 3px;
      }

    .grid-content-right-first {
      grid-row: 2 / span 1;
      grid-column: 2 / span 2;
      // background-color: blue;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;

      .container-summary-content{
        background-color: white;
        height: 100%;
        width: 100%;

        span {
          font-size: 30px;
          font-weight: 500;
        }

      }
    }

    .grid-content-right-second {
      grid-row: 3 / span 1;
      grid-column: 2 / span 2;
      // background-color: blue;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;

      .container-summary-content{
        background-color: white;
        height: 100%;
        width: 100%;

        span {
          font-size: 30px;
          font-weight: 500;
        }

      }
    }

    .grid-content-right-third {
      grid-row: 4 / span 1;
      grid-column: 2 / span 2;
      // background-color: blue;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;

      .container-summary-content{
        background-color: white;
        height: 100%;
        width: 100%;

        span {
          font-size: 30px;
          font-weight: 500;
        }

      }
    }

    .grid-submit-button {
      grid-row: 5 / span 1;
      grid-column: 1 / span 3;
      // background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 40px;
        font-weight: 700;
      }
    }
}
