// all Buttons below

.button {
display: inline-block;

}

// Button for banner landing Page

.button-banner {
  width: 300px;
  height: 80px;
  font-size: 45px;
  font-weight: 700;

  &:hover {

  }
}

// Buttons for booking form

.button-form {

}

.button-form--next {
  width: 20%;
  height: 50px;
  background-color: $orange;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: white;
  z-index: 1;
  border-radius: 6px;
  border: 0px;
  opacity: 1;


  &:hover {
    transform: scale(1.025, 1.025);

  }
}

.button-submit-booking {
  width: 200%;
  height: 50px;
  background-color: $orange;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: white;
  z-index: 1;
  border-radius: 6px;
  border: 0px;
  opacity: .9;

  &:hover {
    opacity: 1;

  }
}

//



.button-form--trip-type {
  height: 50px;
  width: 150px;
  background-color: blue;

  &:hover {

  }
}

.button-form--add-traveler {

  &:hover {

  }
}

.button-form--remove-traveler {

  &:hover {

  }
}

.button-form--wheather {

  &:hover {

  }
}

.button-form--limit-destinations {

  &:hover {

  }
}

.button-form--pers-details-left {

  &:hover {

  }
}

.button-form--pers-details-right {

  &:hover {

  }
}

.button-form--rocket{

  &:hover {

  }
}

// Button for your timeline

.button-booking-status {

  &:hover {

  }
}


//Button for Finalizing Booking

.button-booking-summary {

  &:hover {

  }
}

