// all Buttons below

.button {

}

// Button for banner landing Page

.button-banner {

  &:hover {

  }
}

// Buttons for booking form

.button-form {

}

.button-form--next {
  width: 20%;
  height: 50px;
  background-color: $orange;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  color: white;

  &:hover {

  }
}

//



.button-form--trip-type {
  height: 50px;
  width: 150px;
  background-color: blue;

  &:hover {

  }
}

.button-form--add-traveler {

  &:hover {

  }
}

.button-form--remove-traveler {

  &:hover {

  }
}

.button-form--wheather {

  &:hover {

  }
}

.button-form--limit-destinations {

  &:hover {

  }
}

.button-form--pers-details-left {

  &:hover {

  }
}

.button-form--pers-details-right {

  &:hover {

  }
}

.button-form--rocket{

  &:hover {

  }
}

// Button for your timeline

.button-booking-status {

  &:hover {

  }
}


//Button for Finalizing Booking

.button-booking-summary {

  &:hover {

  }
}

