//all Cards below

// Cards How to Landing page

.card-how-to--left {

  .card-text {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .index-number {
    position: relative;
    z-index: 1;
  }

  .card-image {
    position: absolute;
    top: 34px;
    left: 84px;;
    z-index: -1;
  }
}

.card-how-to--right {

  .card-text {

  }

  .index-number {
    position: absolute;
    top: -27px;
    left: -81px;
  }

  .card-image {
    position: relative;
  }
}

// Cards Testimonials

.card-testimonial {

  &:hover {

  }
}

// Cards Booking Process

.card-booking-process {

  height: 50vh;
  border: 0.25px solid lightgray;
  margin-top: 20%;
  margin-bottom: 40%;
  background-color: white;
  box-shadow: 4px 4px 5px #888;
  position: relative;

  .index-number {
    color: black;
    position: absolute;
    top: -14%;
    left: 3%;
  }

  .heading {
    color: black;
    position: absolute;
    top: -7%;
    left: 11%;
  }

  .button-form--next {
    position: absolute;
    bottom: -6%;
    left: 40%;
  }

  .content-container {
    padding: 5% 5% 5% 5%;
    background-color: red;
    height: 100%;
    width: 100%;
  }
}

//Your next Booking

.card-booking-status {

  .booking-icon {

  }

  .booking-text {

  }
}

// Trip Summary

.card-trip-summary {

  .summary-heading {

  }

  .summary-content {

  }
}
