.popup-container {

  z-index: 2;

  .center-heading {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  body {
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
  }

  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }

  .box {
    margin-top: 9%;

  }

  .button{
    font-size: 1em;
    padding: 10px;
    color: $gray;
    border: 2px solid $orange;
    border-radius: 5px;
    text-decoration: none;
    width: 300px;
    justify-content: space-around;
  }



  .button:hover {
    background: $orange;
    color: white;
    }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9;

  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: white ;
    border-radius: 5px;
    border-color:black;
    width: 400px;
    position: relative;
    transition: all 5s ease-in-out;
    color: black;
    font-size:18px;
    border-bottom:solid 1px black;

  .center-heading{
    color:black;
    font-size:bold;
    border-bottom:solid 1px black;
  }




  span{
   top:10px;
   color:black;
   border-bottom:solid 1px black;
   font-size:bold;
  }

  }

  .span h2 {
   margin-top: 10px;
   color: black;
   font-family: Tahoma, Arial, sans-serif;

  }

  .popup .close {
    position: absolute;
    top: 9px;
    right: 30px;
    transition: all 600ms;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .popup .close:hover {
    color: black;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
}

.popup-container-country {

  z-index: 2;

  .center-heading {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  body {
    font-family: Arial, sans-serif;
    background-size: cover;
    height: 100vh;
  }

  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }

  .box {


  }

  .button{
    font-size: 1em;
    padding: 10px;
    color: $gray;
    border: 2px solid $orange;
    border-radius: 5px;
    text-decoration: none;
    width: 150px;
    justify-content: space-around;
  }



  .button:hover {
    background: $orange;
    color: white;
    }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 9;

  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: white ;
    border-radius: 5px;
    border-color:black;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
    color: black;
    font-size:18px;
    border-bottom:solid 1px black;

  .center-heading{
    color:black;
    font-size:bold;
    border-bottom:solid 1px black;
  }




  span{
   top:10px;
   color:black;
   border-bottom:solid 1px black;
   font-size:bold;
  }

  }

  .span h2 {
   margin-top: 10px;
   color: black;
   font-family: Tahoma, Arial, sans-serif;

  }

  .popup .close {
    position: absolute;
    top: 9px;
    right: 30px;
    transition: all 600ms;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .popup .close:hover {
    color: black;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
}
