.input-field {

}

.input-field-booking-origin {
  width: 80%;
  height: 35px;
  color: gray;
  padding-left: 3px;

}

.input-field-booking-date {
  width: 80%;
  height: 35px;
  color: gray;
}

// add different classes for sizes example below:

// .input-field-start-from {
//   width: 20%
// }

.input-style {
  border: 1px solid $border;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-style:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
