.input-field {

}

.input-field-booking-origin {
  width: 80%;
  height: 35px;
  color: gray;
}

.input-field-booking-date {
  width: 80%;
  height: 35px;
  color: gray;
}

// add different classes for sizes example below:

// .input-field-start-from {
//   width: 20%
// }
