/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $light-gray;
  transition: all 0.3s ease;
  z-index: 2;
  width: 100vw;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a:hover{
    text-decoration: none;
  }
}

.navbar-lp {
  position: absolute;
  background: transparent;
}

.navbar-wagon p{
  font-size:24px;
  color:black;
}
/* Logo */
.navbar-wagon-brand img {
  height: 50px;
    text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-logo {
  font-size: 28px;
  font-weight: 700;
  color: $snowwhite;


  &:hover{
    text-decoration: none;
    color: lightgrey;
  }
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $snowwhite;
  font-size: 24px;
  font-weight: 700;
}
.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: $orange;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 8px $light-gray;
}

.navbar-black{
  color: $gray;
}

.navbar-orange{
  color: $orange;

  &:hoover {
    transform: scale(1.025, 1.025);
  }
}

.hiw-padding-top {
  padding-top: 70px;
}


