.nav-side-center{
    height: 430px;
    display: flex;
    align-items: center;
}

.nav-side{
  width: 150px;
  top: 35%;
  border-radius: 5px;
  float: right;
  position: sticky;
  margin: 7% 1.5% 33% 0;

  a{
    text-decoration: none;
    color: #b8b8b8;
    opacity: 0.7;
  }

  a:hover{
    color: black;
  }
}

.nav-side-step{
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
}

.nav-side-step-text{
    font-size: 14px;
    font-weight: 600;
}

.nav-side-step-num{
  font-size: 36px;
  font-weight: 600;
  margin-left: 10px;
}

.active{
  color: black;
  opacity: 1;
}

