// .relative {
//   position: relative;
// }

// .overflow-auto {
//   overflow: auto;
// }

// .flex {
//   display: flex;
// }

// .scroll-smoothly {
//   -webkit-overflow-scrolling: touch;
// }

// .no-scrollbar {
//   -ms-overflow-style: -ms-autohiding-scrollbar;
//   scrollbar-face-color: transparent;
//   scrollbar-track-color: transparent;
//   scrollbar-3dlight-color: transparent;
//   scrollbar-darkshadow-color: transparent;
//   scrollbar-arrow-color: transparent;
// }

// .absolute {
//   position: absolute;
// }


.carousel {
  position: relative;
  height: 900px;
}

.carousel__cell-wrapper {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}

.carousel__cell {
  width: 30vw;
  min-width: 400px;
  display: inline-block;
  margin: 15px 40px;
}
