<div class="base-container">
  <div class="base-container--bookings">
    <div class="card-booking-process">
      <div class="index-number index-number-booking-new">
        <h1>6</h1>
      </div>
      <div class="heading index-number-booking-new">
        <h2>Personal Details</h2>
      </div>
      <div class="content-container">

        <div class="booking-step6-personal">
          <div class="booking-step6-personal-img">
          </div>

          <div class="booking-step6-personal-content">

            <div class="booking-step6-personal-header">
             <h3>Traveller 1</h3>
           </div>
           <div class="booking-step6-personal-form">
             <div class="booking-step6-personal-form-leftcol">
              <input id="title" type="text" name="traveller_1[title]" value="Mr.">
              <input id="first_name" type="text" name="traveller_1[first_name]" value="First Name">
              <input type="text" name="traveller_1[passport_number]" value="Passport_number">
              <input type="text" name="traveller_1[nationality]" value="Nationality">
             </div>
             <div class="booking-step6-personal-form-rightcol">
              <input type="text" name="traveller_1[last_name]" value="Last Name">
              <input type="text" name="traveller_1[passport_expiration]" value="Passport Expiration">
              <input type="text" name="traveller_1[birth_date]" value="Birth date">
             </div>
           </div>
        </div>
      </div>
    </div>




  </div>


  <button class="button-form button-form--next index-number-booking-new"> Next </button>

</div>
</div>
</div>
